{% extends "frontend/layout/base_other.html" %}





{% block content %}

<style>
    
    .image {
  
  z-index: -1;
  background-image: url('https://images.unsplash.com/photo-1592623352801-6c507aaf7987?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  }
  
  
  </style>


<div class="image"></div>




{% endblock %}

{% block myotherjs %}
<script>


</script>
{% endblock %}