{% extends "frontend/layout/base_other.html" %}

{% block myotherstyle %}

<style>

</style>

{% endblock %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');

    * {
        color: white !important;
    }

    .image {

        z-index: -1;
        background-image: url('https://images.unsplash.com/photo-1592623352801-6c507aaf7987?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
    }

    /* styles for the chart */
    #chartdiv {
        width: 100%;
        height: 550px;
        margin-top: 0;
    }

    .image_resize {
        max-width: 100%;
        height: auto;
        width: 70px;
        height: 70px;
    }

    #chartdiv2 {
        width: 100%;
        height: 550px;
        margin-top: 0;
        opacity: 0.83;
    }

    .image_resize {
        max-width: 100%;
        height: auto;
        width: 70px;
        height: 70px;
    }

    .tabs {
        display: flex;
        flex-wrap: wrap;
    }

    .tabs label {
        order: 1;
        display: block;
        padding: .3rem 1rem;
        margin-right: 0.2rem;
        margin-top: 13rem;
        cursor: pointer;
        background: #0c4da;
        font-weight: lighter;
        /* transition: background ease 0.2s; */
        border-radius: 10px;
    }

    .tabs .tab {
        order: 99;
        flex-grow: 1;
        width: 100%;
        display: none;
        padding: 1rem;
        background: #0c4da;
    }

    .tabs input[type="radio"] {
        display: none;
    }

    .tabs input[type="radio"]:checked+label {
        background: rgb(37, 182, 56);
    }

    .tabs input[type="radio"]:checked+label+.tab {
        display: block;
    }


    @media (max-width: 45em) {

        .tabs .tab,
        .tabs label {
            order: initial;
        }

        .tabs label {
            width: 100%;
            margin-right: 0;
            margin-top: 0.2rem;
        }
    }

    body {
        background: #eee;
        max-height: 100vh;
        box-sizing: border-box;
        padding-top: 0vh;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 200;
        line-height: 1.5;
        max-width: 100%;
        margin: 0 auto;
        font-size: 112%;
    }
</style>

<div class="image"></div>

<div class="tabs">
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">Ongoing Projects</label>
    <div class="tab">
        <!-- <h1>Tab One Content</h1> -->
        <div class="chart" id="chartdiv"></div>
    </div>


    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Planned Projects</label>
    <div class="tab">
        <!-- <h1>Tab Two Content</h1> -->
        <div class="chart" id="chartdiv2"></div>

    </div>

</div>
<!-- This is the graph -->
<!-- <div class="chart" id="chartdiv"></div> -->

<!-- Chart code -->


<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/kenyaLow.js"></script>

<script>

    am5.ready(function () {

        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv");

        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
            am5themes_Animated.new(root)
        ]);

        // Create the map chart
        // https://www.amcharts.com/docs/v5/charts/map-chart/
        var chart = root.container.children.push(
            am5map.MapChart.new(root, {
                panX: "none",
                panY: "none",
                projection: am5map.geoMercator()
            })
        );

        var cont = chart.children.push(
            am5.Container.new(root, {
                layout: root.horizontalLayout,
                x: 20,
                y: 40
            })
        );

        // Create main polygon series for countries
        // https://www.amcharts.com/docs/v5/charts/map-chart/map-polygon-series/
        var polygonSeries = chart.series.push(
            am5map.MapPolygonSeries.new(root, {
                geoJSON: am5geodata_kenyaLow
            })
        );
        polygonSeries.mapPolygons.template.setAll({
            tooltipText: "{name} {value}",
        });


        // Create line series for trajectory lines
        // https://www.amcharts.com/docs/v5/charts/map-chart/map-line-series/
        var lineSeries = chart.series.push(am5map.MapLineSeries.new(root, {}));
        lineSeries.mapLines.template.setAll({
            stroke: root.interfaceColors.get("alternativeBackground"),
            strokeOpacity: 0.3
        });

        // Create point series for markers
        // https://www.amcharts.com/docs/v5/charts/map-chart/map-point-series/
        var pointSeries = chart.series.push(am5map.MapPointSeries.new(root, {}));
        var colorset = am5.ColorSet.new(root, {});

        pointSeries.bullets.push(function () {
            var container = am5.Container.new(root, {});

            var circle = container.children.push(
                am5.Circle.new(root, {
                    radius: 4,
                    tooltipY: 0,
                    fill: colorset.next(),
                    strokeOpacity: 0,
                    tooltipText: "{title}"
                })
            );

            var circle2 = container.children.push(
                am5.Circle.new(root, {
                    radius: 4,
                    tooltipY: 0,
                    fill: colorset.next(),
                    strokeOpacity: 0,
                    // tooltipText: "{title}"
                })
            );

            circle.animate({
                key: "scale",
                from: 1,
                to: 5,
                duration: 600,
                easing: am5.ease.out(am5.ease.cubic),
                loops: Infinity
            });
            circle.animate({
                key: "opacity",
                from: 1,
                to: 0,
                duration: 600,
                easing: am5.ease.out(am5.ease.cubic),
                loops: Infinity
            });

            return am5.Bullet.new(root, {
                sprite: container
            });
        });

        var cities = [
            {
                title: "Amira River Project",
                latitude: 1.2921,
                longitude: 36.8219
            },
            {
                title: "Tana River Project",
                latitude: 1.7488,
                longitude: 40.0586
            },
            {
                title: "Pris River Project",
                latitude: 48.8567,
                longitude: 1.7488
            },
            {
                title: "Mara River Dam Project",
                latitude: 0.0236,
                longitude: 37.9062
            },
            {
                title: "Moscow",
                latitude: 55.7558,
                longitude: 37.6176
            },
            {
                title: "Madrid",
                latitude: 40.4167,
                longitude: -3.7033
            },
            {
                title: "London",
                latitude: 51.5002,
                longitude: -0.1262,
                url: "http://www.google.co.uk"
            },

        ];

        for (var i = 0; i < cities.length; i++) {
            var city = cities[i];
            addCity(city.longitude, city.latitude, city.title);
        }
        
        function addCity(longitude, latitude, title) {
            pointSeries.data.push({
                geometry: { type: "Point", coordinates: [longitude, latitude] },
                title: title
            });
        }

        // Make stuff animate on load
        chart.appear(1000, 100);
        


    }); // end am5.ready()
    am5.ready(function () {

        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv2");

        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
            am5themes_Animated.new(root)
        ]);

        // Create the map chart
        // https://www.amcharts.com/docs/v5/charts/map-chart/
        var chart = root.container.children.push(
            am5map.MapChart.new(root, {
                panX: "none",
                panY: "none",
                projection: am5map.geoMercator()
            })
        );

        var cont = chart.children.push(
            am5.Container.new(root, {
                layout: root.horizontalLayout,
                x: 20,
                y: 40
            })
        );

        // Create main polygon series for countries
        // https://www.amcharts.com/docs/v5/charts/map-chart/map-polygon-series/
        var polygonSeries = chart.series.push(
            am5map.MapPolygonSeries.new(root, {
                geoJSON: am5geodata_kenyaLow
            })
        );
        polygonSeries.mapPolygons.template.setAll({
            tooltipText: "{name} {value}",
        });
        
        // Create line series for trajectory lines
        // https://www.amcharts.com/docs/v5/charts/map-chart/map-line-series/
        var lineSeries = chart.series.push(am5map.MapLineSeries.new(root, {}));
        lineSeries.mapLines.template.setAll({
            stroke: root.interfaceColors.get("alternativeBackground"),
            strokeOpacity: 0.3
        });

        // Create point series for markers
        // https://www.amcharts.com/docs/v5/charts/map-chart/map-point-series/
        var pointSeries = chart.series.push(am5map.MapPointSeries.new(root, {}));
        var colorset = am5.ColorSet.new(root, {});

        pointSeries.bullets.push(function () {
            var container = am5.Container.new(root, {});

            var circle = container.children.push(
                am5.Circle.new(root, {
                    radius: 4,
                    tooltipY: 0,
                    fill: colorset.next(),
                    strokeOpacity: 0,
                    tooltipText: "{title}",  
                })
            );

            var circle2 = container.children.push(
                am5.Circle.new(root, {
                    radius: 4,
                    tooltipY: 0,
                    fill: colorset.next(),
                    strokeOpacity: 0,
                    // tooltipText: "{title}"
                })
            );

            circle.animate({
                key: "scale",
                from: 1,
                to: 5,
                duration: 600,
                easing: am5.ease.out(am5.ease.cubic),
                loops: Infinity
            });
            circle.animate({
                key: "opacity",
                from: 1,
                to: 0,
                duration: 600,
                easing: am5.ease.out(am5.ease.cubic),
                loops: Infinity
            });

            return am5.Bullet.new(root, {
                sprite: container
            });
        });

        var cities = [
            {
                title: "Amira River Project.................................................",
                latitude: 1.2921,
                longitude: 36.8219
            },
            {
                title: "Tana River Project",
                latitude: 1.7488,
                longitude: 40.0586
            },
            {
                title: "Pris River Project",
                latitude: 48.8567,
                longitude: 1.7488
            },
            {
                title: "Mara River Dam Project",
                latitude: 0.0236,
                longitude: 37.9062
            },
            {
                title: "Moscow",
                latitude: 55.7558,
                longitude: 37.6176
            },
            {
                title: "Madrid",
                latitude: 40.4167,
                longitude: -3.7033
            },
            {
                title: "London",
                latitude: 51.5002,
                longitude: -0.1262,
                url: "http://www.google.co.uk"
            },

        ];

        for (var i = 0; i < cities.length; i++) {
            var city = cities[i];
            addCity(city.longitude, city.latitude, city.title);
        }

        function addCity(longitude, latitude, title) {
            pointSeries.data.push({
                geometry: { type: "Point", coordinates: [longitude, latitude] },
                title: title
            });
        }

        // Make stuff animate on load
        chart.appear(1000, 100);
    }); // end am5.ready()
</script>
{% endblock %}

{% block myotherjs %}

{% endblock %}