{% extends "frontend/layout/base_other.html" %}

{% block myotherstyle %}

<style>

</style>

{% endblock %}

{% block content %}

<style>
  @import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');



#demo{
  display: none;
}

  /* styles for the chart */
  #chartdiv {
    width: 100%;
    height: 650px;
    margin-top: 0;
  }

  .image_resize {
    max-width: 100%;
    height: auto;
    width: 70px;
    height: 70px;
  }

  #chartdiv2 {
    width: 100%;
    height: 650px;
    margin-top: 0;
  }

  .image_resize {
    max-width: 100%;
    height: auto;
    width: 70px;
    height: 70px;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
  }

  .tabs label {
    order: 1;
    display: block;
    padding: .3rem 1rem;
    margin-right: 0.2rem;
    margin-top: 13rem;
    cursor: pointer;
    background: #0c4da;
    font-weight: lighter;
    /* transition: background ease 0.2s; */
    border-radius: 10px;
    color: whitesmoke;
  }

  .tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #0c4da;
  }

  .tabs input[type="radio"] {
    display: none;
  }

  .tabs input[type="radio"]:checked+label {
    background: rgb(37, 182, 56);
    color: whitesmoke;
  }

  .tabs input[type="radio"]:checked+label+.tab {
    display: block;

  }


  @media (max-width: 45em) {

    .tabs .tab,
    .tabs label {
      order: initial;
    }

    .tabs label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }

  body {
    background: #eee;
    max-height: 100vh;
    box-sizing: border-box;
    padding-top: 0vh;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
    line-height: 1.5;
    max-width: 100%;
    margin: 0 auto;
    font-size: 112%;
  }


  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }

  .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }

  .container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .front,
  .back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
  }

  .back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  }

  .front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }

  .container:hover .front,
  .container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
  }

  .container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }

  .front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }

  .front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }

  @media screen and (max-width: 64rem) {
    .col {
      width: calc(33.333333% - 2rem);
    }
  }

  @media screen and (max-width: 48rem) {
    .col {
      width: calc(50% - 2rem);
    }
  }

  @media screen and (max-width: 32rem) {
    .col {
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }

  .page-404__content--privacy p {
    margin-bottom: 0px;
    text-align: center;
  }

  .image {

    z-index: -1;
    background-image: url('https://images.unsplash.com/photo-1592623352801-6c507aaf7987?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
  }



  section {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .maind {
    margin-top: 2em;
  }

  h1 {
    margin: 0;
    text-align: center;
    font-size: 3em;
    font-weight: 50px;
    color: white;
    margin-top: 6em;
    font-style: bold;

  }

  h1 {
    margin: 0;
    text-align: center;
    font-size: 3em;
    font-weight: 50px;
    color: white;
    margin-top: 6em;
    font-style: bold;

  }
</style>



<div class="tabs">
  <input type="radio" name="tabs" id="tabone" checked="checked">
  <label for="tabone">Ongoing Projects</label>
  <div class="tab">
    <!-- <h1>Tab One Content</h1> -->
    <div class="chart" id="chartdiv"></div>
    <div id="demo">
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
            <div class="inner">
              <p>Diligord</p>
              <span>Lorem ipsum</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum
                repellat velit quae suscipit c.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <input type="radio" name="tabs" id="tabtwo">
  <label for="tabtwo">Planned Projects</label>
  <div class="tab">
    <!-- <h1>Tab Two Content</h1> -->
    <div class="chart" id="chartdiv2"></div>

  </div>

</div>
<!-- This is the graph -->
<!-- <div class="chart" id="chartdiv"></div> -->

<!-- Chart code -->


<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/kenyaLow.js"></script>

<script>

  am5.ready(function () {

    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("chartdiv");


    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);


    // Create the map chart
    // https://www.amcharts.com/docs/v5/charts/map-chart/
    // setting rotationX to -154.8 makes the map Pacific-centered
    var chart = root.container.children.push(am5map.MapChart.new(root, {
      panX: "none",
      panY: "none",
      maxZoomLevel: 1,
      wheelY: "none",
      projection: am5map.geoEquirectangular()
    }));

    // Create main polygon series for countries
    // https://www.amcharts.com/docs/v5/charts/map-chart/map-polygon-series/
    var polygonSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
      geoJSON: am5geodata_kenyaLow
    }));

    polygonSeries.mapPolygons.template.setAll({
      tooltipText: "{name}",
      fillOpacity: 1,
      stroke: am5.color(0xffffff),
      strokeWidth: 1,
    });

    var colorSet = am5.ColorSet.new(root, {});

    var i = 0;
    polygonSeries.mapPolygons.template.adapters.add("fill", function (fill, target) {
      if (i < 10) {
        i++;
      }
      else {
        i = 0;
      }
      var dataContext = target.dataItem.dataContext;
      if (!dataContext.colorWasSet) {
        dataContext.colorWasSet = true;
        var color = am5.Color.saturate(colorSet.getIndex(i), 0.3);
        target.setRaw("fill", color);
        return color;
      }
      else {
        return fill;
      }
    })

    polygonSeries.mapPolygons.template.states.create("hover", { fillOpacity: .5 });

    // Create point series
    var pointSeries = chart.series.push(am5map.MapPointSeries.new(root, {
      latitudeField: "lat",
      longitudeField: "long"
    }));

    pointSeries.bullets.push(function () {
      var circle = am5.Circle.new(root, {
        radius: 3,
        fill: am5.color(0xFF00),
        tooltipText: "{name}",
      });

      circle.animate({
        key: "scale",
        from: 1,
        to: 3,
        duration: 600,
        strokeOpacity: 0.2,
        easing: am5.ease.out(am5.ease.cubic),
        loops: Infinity
      });
      circle.events.on("click", function (ev) {
        console.log("kila msee", ev);
        alert("Clicked on " + ev.target.dataItem.dataContext.name)
      });

      return am5.Bullet.new(root, {
        sprite: circle
      });
    });

    pointSeries.data.setAll([{
      long: 36.8219,
      lat: -1.2921,
      name: "Amira River Project",
      description : "sasaaaaa jgguj"
    },
    {
      long: 39.4424,
      lat: -1.5867,
      name: "Tana River Project"
    },
    {
      long: 35.7406,
      lat: -0.6114,
      name: "...."
    }]);
    chart.appear(1000, 100);

  }); // end am5.ready()

  am5.ready(function () {

    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("chartdiv2");


    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);


    // Create the map chart
    // https://www.amcharts.com/docs/v5/charts/map-chart/
    // setting rotationX to -154.8 makes the map Pacific-centered
    var chart = root.container.children.push(am5map.MapChart.new(root, {
      panX: "none",
      panY: "none",
      maxZoomLevel: 1,
      wheelY: "none",
      projection: am5map.geoEquirectangular()
    }));

    // Create main polygon series for countries
    // https://www.amcharts.com/docs/v5/charts/map-chart/map-polygon-series/
    var polygonSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
      geoJSON: am5geodata_kenyaLow
    }));

    polygonSeries.mapPolygons.template.setAll({
      tooltipText: "{name}",
      fillOpacity: 1,
      stroke: am5.color(0xffffff),
      strokeWidth: 1,
    });

    var colorSet = am5.ColorSet.new(root, {});

    var i = 0;
    polygonSeries.mapPolygons.template.adapters.add("fill", function (fill, target) {
      if (i < 10) {
        i++;
      }
      else {
        i = 0;
      }
      var dataContext = target.dataItem.dataContext;
      if (!dataContext.colorWasSet) {
        dataContext.colorWasSet = true;
        var color = am5.Color.saturate(colorSet.getIndex(i), 0.3);
        target.setRaw("fill", color);
        return color;
      }
      else {
        return fill;
      }
    })

    polygonSeries.mapPolygons.template.states.create("hover", { fillOpacity: 1 });

    // Create point series
    var pointSeries = chart.series.push(am5map.MapPointSeries.new(root, {
      latitudeField: "lat",
      longitudeField: "long"
    }));

    pointSeries.bullets.push(function () {
      var circle = am5.Circle.new(root, {
        radius: 3,
        fill: am5.color(0x7FFF),
        tooltipText: "{name}",
      });

      circle.animate({
        key: "scale",
        from: 1,
        to: 3,
        duration: 600,
        strokeOpacity: 0.2,
        easing: am5.ease.out(am5.ease.cubic),
        loops: Infinity
      });
      // circle.events.on("click", function(ev) {
      //   alert("Clicked on " + ev.target.dataItem.dataContext.name)
      // });

      return am5.Bullet.new(root, {
        sprite: circle
      });
    });

    pointSeries.data.setAll([{
      long: 36.8219,
      lat: -1.2921,
      name: "Amira River Project"
    },
    {
      long: 39.4424,
      lat: -1.5867,
      name: "Tana River Project"
    },
    {
      long: 35.7406,
      lat: -0.6114,
      name: "...."
    }]);
    chart.appear(1000, 100);

  }); // end am5.ready()
</script>
{% endblock %}

{% block myotherjs %}

{% endblock %}