{% extends "frontend/layout/base_other.html" %} {% block myotherstyle %}

<style>
  @import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');

  html,
  body,
  section.horizontal {
    overflow-x: hidden;
  }

  body {
    font-family: "Signika Negative", sans-serif;
    font-weight: 300;

    margin: 0;
    padding: 0;
  }

  h1 {
    margin: 0;
    padding: 50px 0 0 50px;
  }

  p {
    margin: 0;
    padding: 50px 0 50px 50px;
  }

  section {
    width: 100%;
    height: 100%;
    position: relative;
  }


  section:nth-of-type(odd) {
    background-color: #f0f0f0;
  }

  section:nth-of-type(even) {
    background-color: #ffffff;
  }


  section.horizontal {
    overflow-x: hidden;
  }

  section.horizontal .pin-wrap,
  section.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;
    height: 100vh;
  }


  section.horizontal .item {
    position: relative;
    padding: 150px 80px;
    flex: 0 0 500px;
    height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    line-height: 1.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    background-color: transparent;
  }

  section.horizontal .item:before {
    position: absolute;
    font-size: 100px;
    opacity: .13;
    font-weight: bold;
    z-index: -1;
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
    line-height: 1;
  }




  section.horizontal .animation-wrap.to-right {
    counter-reset: item;
    float: left;
  }

  section.horizontal .animation-wrap.to-left {
    counter-reset: item 11;
    float: right;
  }

  section.horizontal .animation-wrap.to-right .item:before {
    counter-increment: item;
    content: counter(item);
  }

  section.horizontal .animation-wrap.to-left .item:before {
    counter-increment: item -1;
    content: counter(item);
  }



  section.horizontal .animation-wrap .item:nth-child(2n+2) {
    align-items: flex-start;
  }

  section.horizontal .animation-wrap .item:nth-child(4n+4) {
    align-items: flex-end;
  }
</style>


{% endblock %}

{% block content %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');

  * {
    color: white !important;
  }

  .image {

    z-index: -1;
    background-image: url('https://images.unsplash.com/photo-1592623352801-6c507aaf7987?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
  }



  h1 {
    margin: 0;
    text-align: center;
    font-size: 3em;
    font-weight: 50px;

  }

  p {
    margin: 0;
    padding: 50px;
    background-color: #001343;
    border-radius: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

  section {
    width: 100%;
    height: 100%;
    position: relative;
  }


  section:nth-of-type(odd) {}

  section:nth-of-type(even) {
    background-color: transparent;
  }

  .blank {
    margin-top: 24vh;
    text-align: center;

  }


  section.horizontal {
    overflow-x: hidden;
  }

  section.horizontal .pin-wrap,
  section.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;
    height: 100vh;
  }


  section.horizontal .item {
    position: relative;
    padding: 150px 80px;
    flex: 0 0 500px;
    height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    line-height: 1.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    background-color: transparent;
  }

  section.horizontal .item:before {
    position: absolute;
    font-size: 100px;
    opacity: .13;
    font-weight: bold;
    z-index: -1;
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
    line-height: 1;
  }

  section.horizontal .animation-wrap.to-right {
    counter-reset: item;
    float: left;
  }

  section.horizontal .animation-wrap.to-left {
    counter-reset: item 11;
    float: right;
  }

  section.horizontal .animation-wrap.to-right .item:before {
    counter-increment: item;
    content: counter(item);
  }

  section.horizontal .animation-wrap.to-left .item:before {
    counter-increment: item -1;
    content: counter(item);
  }



  section.horizontal .animation-wrap .item:nth-child(2n+2) {
    align-items: flex-start;
  }

  section.horizontal .animation-wrap .item:nth-child(4n+4) {
    align-items: flex-end;
  }
</style>
<div class="image"></div>
<div class="gradient"></div>
<section class="blank">
  <h1>WRA Tenders</h1>
  <h2>Current tenders</h2>

</section>

<section class="horizontal">
  <div class="pin-wrap">
    <div class="animation-wrap to-right">


      <div class="item">
        <p>
          Eaque ullam illum nobis deleniti mollitia unde, sed, nemo ipsa ratione ex, dicta aliquam
          voluptates! Odio vitae eum nobis dignissimos sunt ipsum repellendus totam optio distinctio. Laborum suscipit
          quia aperiam.
        </p>
      </div>
      <div class="item">
        <p>
          Eaque ullam illum nobis deleniti mollitia unde, sed, nemo ipsa ratione ex, dicta aliquam
          voluptates! Odio vitae eum nobis dignissimos sunt ipsum repellendus totam optio distinctio. Laborum suscipit
          quia aperiam.
        </p>
      </div>
      <div class="item">
        <p>
          Eaque ullam illum nobis deleniti mollitia unde, sed, nemo ipsa ratione ex, dicta aliquam
          voluptates! Odio vitae eum nobis dignissimos sunt ipsum repellendus totam optio distinctio. Laborum suscipit
          quia aperiam.
        </p>
      </div>
      <div class="item">
        <p>
          Eaque ullam illum nobis deleniti mollitia unde, sed, nemo ipsa ratione ex, dicta aliquam
          voluptates! Odio vitae eum nobis dignissimos sunt ipsum repellendus totam optio distinctio. Laborum suscipit
          quia aperiam.
        </p>
      </div>
      <div class="item">
        <p>
          Eaque ullam illum nobis deleniti mollitia unde, sed, nemo ipsa ratione ex, dicta aliquam
          voluptates! Odio vitae eum nobis dignissimos sunt ipsum repellendus totam optio distinctio. Laborum suscipit
          quia aperiam.
        </p>
      </div>




    </div>
  </div>
</section>


<section class="blank">
  <h1>Our previous tenders</h1>

</section>



<section class="horizontal">
  <div class="pin-wrap">
    <div class="animation-wrap to-left">
      <div class="item">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, temporibus esse magni
          illum eos natus ipsum minus? Quis excepturi voluptates atque dolorum minus eligendi! Omnis minima magni
          recusandae ex dignissimos.
        </p>
      </div>
      <div class="item">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, temporibus esse magni
          illum eos natus ipsum minus? Quis excepturi voluptates atque dolorum minus eligendi! Omnis minima magni
          recusandae ex dignissimos.
        </p>
      </div>
      <div class="item">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, temporibus esse magni
          illum eos natus ipsum minus? Quis excepturi voluptates atque dolorum minus eligendi! Omnis minima magni
          recusandae ex dignissimos.
        </p>
      </div>
      <div class="item">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, temporibus esse magni
          illum eos natus ipsum minus? Quis excepturi voluptates atque dolorum minus eligendi! Omnis minima magni
          recusandae ex dignissimos.
        </p>
      </div>
      <div class="item">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, temporibus esse magni
          illum eos natus ipsum minus? Quis excepturi voluptates atque dolorum minus eligendi! Omnis minima magni
          recusandae ex dignissimos.
        </p>
      </div>


    </div>
  </div>
</section>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>


<script>
  const horizontalSections = gsap.utils.toArray('section.horizontal')

  horizontalSections.forEach(function (sec, i) {

    var thisPinWrap = sec.querySelector('.pin-wrap');
    var thisAnimWrap = thisPinWrap.querySelector('.animation-wrap');

    var getToValue = () => -(thisAnimWrap.scrollWidth - window.innerWidth);

    gsap.fromTo(thisAnimWrap, {
      x: () => thisAnimWrap.classList.contains('to-right') ? 0 : getToValue()
    }
      , {
        x: () => thisAnimWrap.classList.contains('to-right') ? getToValue() : 0,
        ease: "none",
        scrollTrigger: {
          trigger: sec,
          start: "top +=30%",
          end: () => "+=" + (thisAnimWrap.scrollWidth - window.innerWidth),
          pin: thisPinWrap,
          invalidateOnRefresh: true,
          //anticipatePin: 1,
          scrub: true,
          //markers: true,
        }
      });

  });


  gsap.fromTo(
    document.querySelector(''),
    { backgroundImage: 'linear-gradient(50deg, rgba(213,222,136,1) 59%, rgba(255,158,0,1) 100%)' },
    { backgroundImage: 'linear-gradient(170deg, rgba(213,222,136,1) 40%, rgba(255,76,0,1) 100%)', duration: 3, repeat: -1, yoyo: true }
  )
</script>

{% endblock %} {% block myotherjs %}
<script></script>
{% endblock %}

<!--Start of Tawk.to Script-->